/* 
    Created on : May 24, 2015, 7:46:47 PM
    Author     : Rashed khan
*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100% !important;
    margin: 0 auto;
}
.border{
    border: dotted 2px black !important;
}
.clean li{

}
.clean li a{
    color: black !important;
    padding: 21.5px 30px !important;
}
.clean li a:hover{
    color: white !important;
    background-color: gray !important;
    //padding: 21.5px 30px !important;
}
.width{
    width: 100%;
}
.back_color{
    background-color: #0099ff;
}
.footer{
    width: 100%;
    height: 50px;
    position: absolute;
    top:500px;
    background-color: #4389C8;
    margin-top: -1%;
}
.mainbars{
    width: 100%;
    height: 60px;
    overflow: hidden;
    // background-color: #337AB7 !important;
}
.mainbar{
    width: 100%;
    height: 35px;
    position: fixed;
    opacity: 0.7;
    z-index: 9999;
    background-color: #188dba !important;
}
.topbar{
    width: 100%;
    height: 65px;
    margin:0px 0px;
    margin-top: 2.5%;
    color: black !important;
    background-color: #ccc !important;
}
.sub_nav li{
    list-style-type: none;
    float: left;
    width: 140px;
    padding: 17px 10px;
    overflow-wrap: break-word;
    font-weight: bold;
    color: white;
    text-align: center;
    border-left: solid 2px white;
    background-color: #337AB7;
}
.sub_nav li:first-child{
    border: none;

}
.sub_nav li:hover{
    color: black;
    cursor: pointer;
}
.sub_nav li a{
    color: #00ff00;
    cursor: pointer;
    text-decoration: none;
}
.sub_nav li a:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.box:focus{
    border: solid 1px green;
}
.box{
    width: 80%;
    margin: 0 auto;
    height: 40px;
    border: solid 1px #ccc;
}
.boxex{
    width: 40%;
    margin: 0 auto;
    height: 40px;
    border: solid 1px #ccc;
}
.area{
    width: 80%;
    margin: 0 auto;
    height: 80px;
    border: solid 1px #ccc;
}
.bk{
    // background-color: #C4E3F3;
}
.bkbl{
    background-color: #fff;
}
.bg{
    background-color: #DFF0D8;
    height: 50px;
    line-height: 50px
}
.tcenter{
    text-align: center;
}
.cl{
    color: black;
    text-transform: inherit;
}
.cll{
    color: olive;
    font-weight: bold;
}
#image{
    width: 100px;
    height: 100px
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.tbl_color{
    background-color: #F5F5F5;
    //font-weight: bold;
}
.font{
    font-weight: bold;
}
.tarea{
    width:80%;
    margin: 0 auto;
    height: 40px;
    //background-color: #DFF0D8;
    border: solid 1px #ccc;

}
.msg{
    color: green;
    font-size: 19px;
    transition: all 2s;
}
.msg:hover{
    transform: rotatey(90deg);
}

.md{
    width: 20%;
    margin: 0 auto;
    height: 40px;
    border: solid 1px #ccc;  
}