<span style='color: #000'>258 frames</span>	<span style='color: #900'>9,984 KB</span>	<span style='color: #090'>286.22 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />